It's your lucky day! Order a whole sack of squirrels for the people in your postcode!
<form action="/quote" method="post">
  <input type="text" name="pickup_location" value="pickup postcode">
  <input type="text" name="delivery_location" value="delivery postcode">
  <button type="submit">Get quote</button>
</form>